@import "~library/ui-kit/main.scss";
@import '~@library/foundation/main.scss';

@mixin typo-select-input{
    @include typo-base;
    color:          $black;
    letter-spacing: 0;
    font-size:      16px;
    text-overflow:  ellipsis;
}

.multi-select-list {

    position: absolute;
    display: block;
    width: 100%;
    max-height: 220px;

    margin-top: 5px;

    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    border-radius: 4px;
    box-sizing: border-box;

    background: $white;

    z-index: $layer-dropdown;
    transition: .7s;

    overflow: hidden;
    overflow-y: scroll;

    &__line {
        position: relative;
        padding: 12px 10px;

        @include typo-select-input();
    }

}