.datepicker-calendar-header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 3rem;
    height: 50px;
    line-height: 1.5;
    border-bottom: 1px #ccc solid;
    justify-content: space-between;
    align-content: center;
    &__value {
        display: flex;
        font-size: 1rem;
        margin: auto;
    }
}