@import "~library/ui-kit/main.scss";

@mixin typo-label{
    @include typo-base;
    color:          black;
    letter-spacing: 0;
    font-size:      1rem;
}

@mixin typo-input{
    @include typo-base;
    color:          black;
    letter-spacing: 0;
    text-overflow:  ellipsis;
}

@mixin typo-input-placeholder {
    @include        typo-input;
    color:          rgba($gray, 0.75);
}

.input-number-wrapper {
    position: relative;
    width: 100%;
    
    &__label {
        padding: 4px 0;
    }

    @include typo-label;
}

.input-number {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    
    &__elem {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        
        border: 1px solid $gray--middle;
        border-radius: 10px;
        
        transition: all .3s;
    
        &--focused {
            border: 1px solid #1890ff;
            box-shadow: 0 0 8px #1890ff;
        }
    
        &::placeholder {
            @include typo-input-placeholder;
        }
    
        &--required {
            border: 1px solid $red--rich;
        }
    
        &--checked {
            border: 1px solid green;
        } 
    }

    &__btn {
        position: absolute;
        right: 26px;
        height: 100%;
        width: 0px;

        &--clear {
            width: 40px;

            cursor: pointer;
            background: url("assets/icons/reset.svg") right 12px center no-repeat;
        }
    }
    

    &__arrows {
        position: absolute;
        right: 10px;

        width: 20px;
        height: 100%;

        span {
            display: block;
            margin: 0 auto;
            height: 50%;
            width: 20px;
        }

        span:hover {
            border: 1px solid $gray--middle;
            cursor: pointer;
        }

        &--up {
            padding: 5px;
            background: url("assets/icons/arrow-up-select.svg") center no-repeat;
        }

        &--down {
            background: url("assets/icons/arrow-down-select.svg") center no-repeat;
        }
    }

    &__field {
        position: absolute;
        height: 95%;
        width: 100%;

        padding: 2px 8px 2px 8px;
        background: none;
        border: none;
        border-radius: 10px;

        @include typo-input;

        &--length {
            padding: 2px 58px 2px 8px;
        }

        &:focus {
            outline:none;       
        }

        &--small {
            font-size: 0.8rem;
        }
    
        &--default {
            font-size: 0.95rem;
        }
    
        &--large {
            font-size: 1rem;
        }
    }


    &__icon {
        position: relative;
        height: 65%;
        width: 45px;   

        &--required {
            background: url("assets/icons/danger.svg") center no-repeat;
        }
    
        &--checked {
            background: url("assets/icons/checked-symbol.svg") top 1px center no-repeat;
        }
    }

    &--small {
        height: 24px;
    }

    &--default {
        height: 32px;
    }

    &--large {
        height: 40px;
    }
}